body{
    background-size:cover;
    background-position: center;
}
.header
{
font-size: 30px;
width: 100%;
margin: 0px;
color: black;
}
#back{
    float: right;
    height: 50px;
    width: 90px;
    font-size: large;
}
.header{
    font-size: 25px;

}
#bedroom{
    width: 400px;
    height: 45px;
}
 canvas{
        box-shadow: 10px 10px 10px darkgray;
        border-radius: 10px;
    }